.container {
  @include container();
}

.stage {
  background-color: $secondary-lingh-color;
  h2 {
    @include Title;
    text-align: center;
    padding: 4.5rem 0;
    color: $quaternary-colos;

    @include media(md) {
      padding-top: 9rem;
    }
    @include media(md) {
      padding-top: 15rem;
    }
  }
  .stageGrid {
    display: grid;
    @include media(md) {
      grid-template-columns: 0.5fr 1fr;
      max-width: 1000px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 50px;

      @include media(md) {
        padding-bottom: 9rem;
      }
      @include media(md) {
        padding-bottom: 15rem;
      }
    }
    h2 {
      text-align: center;
      font-size: 3.2rem;
      
      padding: 30px;

      @include media(sm) {
        margin-top: 0;
        font-size: 4.3rem;
      }
    }
  }
  .gridTime {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    margin-bottom: 20px;
    .time {
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      font-weight: 700;
      font-size: 3rem;

      @include media(sm) {
        font-size: 3.5rem;
      }
      strong {
        display: block;
        text-align: center;
      }
      p {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        strong {
          display: inline;
          font-weight: 700;
        }
      }
    }
    .Info {
      font-family: exo-soft, "Lucida Sans", Geneva, Verdana, sans-serif;
      h3 {
        font-size: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;

        @include media(md) {
          font-size: 2.2rem;
        }
      }
      p {
        color: $quaternary-indigo-colos;
        font-size: 1.5rem;
        font-weight: 300;

        @include media(sm) {
          font-size: 1.8;
        }
      }
    }
  }
}
.containerStage {
  position: relative;
  top: 0;
  left: 0;
  height: 310px;
  width: 320px;
  overflow: hidden;
  // border: 1px solid red;
  margin: 0 auto;

  .containerBox {
    transform: rotate(-74.2deg) translate(-191px, -16px);

    .blockStage {
      transition: all 1s;

      p {
        position: absolute;
        inset: 0;
        display: inline;
        z-index: 9;
        font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 20px;
        color: $primary-lingh-color;

        @include media(md) {
          font-size: 1.8rem;
        }
      }
      .top svg,
      .botton svg,
      .right svg,
      .left svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 20% 22%;
        &:hover {
          z-index: 3;
        }
      }

      span.right {
        svg {
          transform: rotate(45deg);

          polygon {
            fill: #007186;
          }
        }
        p {
          transform: rotate(74deg) translate(66px, 58px);
        }
      }
      span.top {
        svg {
          transform: rotate(135deg);
          transition: opacity 0.2 ease-out;
          polygon {
            fill: #5f249f;
          }
        }
        p {
          transform: rotate(-16deg) translate(33px, -63px);
        }
      }

      span.botton {
        svg {
          transform: rotate(-135deg);

          polygon {
            fill: #676eff;
          }
        }
        p {
          transform: rotate(74.2deg) translate(64px, -137px);
        }
      }

      span.left {
        svg {
          transform: rotate(-45deg);

          polygon {
            fill: #00b5d7;
          }
        }
        p {
          transform: rotate(164deg) translate(-30px, -188px);
        }
      }

      .circle {
        width: 100px;
        height: 100px;
        background-color: #5f249f;
        border-radius: 50px;
        border: 5px solid $secondary-lingh-color;
        position: absolute;
        bottom: -110px;
        left: 163px;
        z-index: 99;
      }
    }
  }
}
