.container {
  @include container();
}

.stage {
  background-color: $secondary-lingh-color;
  h2 {
    @include Title;
    text-align: center;
    padding: 4.5rem 0;
    color: $quaternary-colos;

    @include media(md) {
      padding-top: 9rem;
    }
  }
  .stageGrid {
    display: grid;
    gap: 50px;
    padding-bottom: 9rem;

    @include media(md) {
      grid-template-columns: 0.5fr 1fr;
      max-width: 1000px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      @include media(md) {
        padding-bottom: 9rem;
      }
    }
    h2 {
      text-align: center;
      font-size: 3.2rem;

      padding: 30px 0px;

      @include media(sm) {
        margin-top: 0;
        font-size: 3.1rem;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .gridTime {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
    @include media(sm) {
      gap: 2rem;
    }
    @include media(lg) {
      gap: 0rem;
    }
    .time {
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      font-weight: 700;
      font-size: 2rem;

      @include media(sm) {
        font-size: 2.8rem;
      }
      strong {
        display: block;
        text-align: center;
      }
      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        strong {
          display: inline;
          font-weight: 700;
        }
      }
    }
    .Info {
      font-family: exo-soft, "Lucida Sans", Geneva, Verdana, sans-serif;
      h3 {
        font-size: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;

        @include media(md) {
          font-size: 2rem;
        }
      }
      p {
        color: $quaternary-indigo-colos;
        font-size: 1.3rem;
        font-weight: 300;

        @include media(sm) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.containerStage {
  position: relative;
  top: 0;
  left: 0;
  height: 310px;
  width: 320px;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  transition: all 1s;

  .top,
  .botton,
  .right,
  .left {
    position: absolute;
    border-radius: 3px;
    width: 310px;
    height: 310px;
    // border: 5px solid #fff;
    z-index: 99;
    &:not(:hover) {
      opacity: 0.3;
    }
  }

  .right {
    transform: rotate(45deg);
    background-color: #753bbc;
    left: 72%;
    top: -1px;
    &::before {
      content: "Palco 2";
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 17px;
      left: 8px;
      transform: rotate(225deg) translate(55px, 20px);
      font-size: 1.8rem;
      text-align: center;
      color: #fff;
      width: 223px;
    }
  }
  .top {
    transform: rotate(135deg);
    top: 71%;
    right: 2%;
    background-color: #fff;
    &::before {
      content: "Palco 3";
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 20px;
      left: 13px;
      transform: rotate(225deg) translate(55px, 20px);
      font-size: 1.8rem;
      text-align: center;
      color: #1d1f48;
      width: 205px;
    }
  }

  .botton {
    transform: rotate(-135deg);
    background-color: #00b5d7;
    bottom: 71%;
    left: 1%;
    //background-color: #676eff;
    &::before {
      content: "Palco 1";
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: -21px;
      left: 10px;
      transform: rotate(135deg) translate(-139px, 179px);
      font-size: 1.8rem;
      text-align: center;
      color: #fff;
      width: 200px;
    }
  }
  .left {
    transform: rotate(-45deg);
    background-color: #f8e600;
    right: 73%;
    &::before {
      content: "Palco 4";
      font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 17px;
      right: 25px;
      transform: rotate(135deg) translate(-57px, 12px);
      font-size: 1.8rem;
      text-align: center;
      color: #fff;
      width: 197px;
    }
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid $secondary-lingh-color;
    position: absolute;
    bottom: 35%;
    left: 35%;
    z-index: 999;
    background-color: #000000;
    pointer-events: none;
  }
}
