.bgColor{
  background-color: $primary-colors;
  padding: 10px 0;
  z-index: 1;
  position: relative;

  .container{
    @include container()
  }

  .flexCouter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @include media(sm){
      flex-direction: row;
      gap: 0;
    }
    h2{
      font-family: field-gothic, 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
      font-weight: 300;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: $quaternary-colos;
      letter-spacing: 2px;
      position: relative;
      top: 3px;
     
      @include media(xxl){
        font-size: 3.5rem;
      }

      strong{
        margin-left: 15px;
        font-weight: 700
      }
    }
    .link {
      @include CTABorder('right-botton');

      img{
        position: relative;
        bottom: 3px;
        height: initial;
        margin-right: 15px;
      }
    }
    .timeContainer{
      text-align: center;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 700;
      @include media(md){
        margin-left: 1rem;
        display: inline-block;
      }
    }
  }
}