// Color
$cyan-blue-vibrant: #00b5d7;
$deep-purple: #753bbc;
$deep-purple-dark: #5f249f;
$midnight-indigo: #1d1f48;
$golden-yellow: #f8e600;
$lingh-gray: #eae4e6;
$white: #FFF;
// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
