// Color
$primary-colors: #00b5d7;
$secondary-colors: #753bbc;
$secondary-colors-dark: #5f249f;
$tertiary-colors:#f8e600;
$quaternary-colos: #1d1f48;
$secondary-lingh-color: #eae4e6;
$primary-lingh-color: #FFF;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
