.header {
  background-color: $quaternary-colos;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;


  @include media(xs){
    background-image: none;
  }

  .headerBlock {
    max-width: 360px;
    img {
      margin-top: 6rem;
      object-fit: contain;

      @include media(sm) {
        margin-top: 80px;
        // margin-bottom: 50px;
      }
    }
    h1 {
      font-family: field-gothic-compact, "Franklin Gothic Medium",
        "Arial Narrow", Arial, sans-serif;
      font-weight: 700;
      font-size: 6rem;
      line-height: 5.2rem;
      color: $tertiary-colors;
      margin: 4.5rem 0;
      @include media(md) {
        font-size: 6.6rem;
        line-height: 5.7rem;
      }
      span:not(.subTitle) {
        font-size: 3.5rem;
        display: block;
      }
      .subTitle {
        font-weight: 400;
        color: $primary-lingh-color;
        font-size: 3.5rem;
        line-height: 3.5rem !important;
      }
    }
    .date {
      display: inline-block;
      margin-bottom:10rem;
      @include CTABorder("left-top");
      @include media(md) {
        font-size: 3.1rem;
        margin-bottom: 17rem;
      }

      @include media(lg) {
        margin-bottom: 27rem;
      }
    }
    .Ilus {
      position: absolute;
      top: 0;
      right: 0;
      height: initial;
      width: inherit;
      display: none;
   
      @include media(md) {
        max-width: 489px;
        top: 12%;
      }

      @include media(lg) {
        display: block;
        max-width: 675px;
        top: 20%;
      }
      @include media(xl) {
        max-width: 850px;
        top: 9%;
      }
      @include media(xxl) {
        max-width: 1080px;
        top: 0%;
      }
    }
  }
}
.container {
  @include container();
}
