.bgNav{
  background: $midnight-indigo;
  
}
.container{
  @include container()
}

.flexDeskTop{
  height: 100px;
  @include media('lg'){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flexMobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}