.lineup {
  background-color: $secondary-lingh-color;
  font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
  position: relative;
  z-index: -1;
  h2 {
    @include Title;
    text-align: center;
    padding: 4.5rem 0;
    color: $quaternary-colos;

    @include media(md) {
      padding-top: 9rem;
    }
  }
  .linupHours {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }
}
