.lineup {
  background-color: $secondary-lingh-color;
  font-family: field-gothic, "Lucida Sans", Geneva, Verdana, sans-serif;
  h2 {
    @include Title;
    text-align: center;
    padding: 4.5rem 0;
    color: $quaternary-colos;

    @include media(md) {
      padding-top: 9rem;
    }
  }
  .linupHours {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

    .linupSpeeches {
      margin: 10px;
      max-width: 180px;

      .time {
        font-size: 22px;
        font-weight: 700;
      }
      .speach {
        background-color: $secondary-colors;
        color: $primary-lingh-color;
        padding: 5px 20px;
        margin-top: 20px;
        font-size: 15px;
        position: relative;
        &::after {
          content: " ";
          position: absolute;
          width: 100vw;
          border-top: 2px solid $secondary-colors;
          height: 2px;
          top: -2px;
          left: calc(-100vw + 100%);
        }
        &::before {
          content: " ";
          position: absolute;
          width: 100vw;
          border-top: 2px solid $secondary-colors;
          height: 2px;
          top: -2px;
          left: 100%;
        }
      }
    }
  }
}
