.container {
  @include container();
}

.marks {
  padding: 9rem 0;
  background-color: $primary-lingh-color;

  @include media(sm) {
    padding: 12rem 0;
  }

  h2 {
    @include Title;
    text-align: center;
    color: $quaternary-colos;
  }

  h3 {
    font-family: field-gothic-compact, "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    color: $secondary-colors-dark;
    margin: 5rem 0;
    position: relative;

    @include media(sm) {
      font-size: 2.8rem;
    }
    @include media(md) {
      font-size: 3.1rem;
    }
    @include media(xxl){
      font-size: 3.5rem;
    }
    &:before {
      content: "";
      height: 4px;
      width: 40%;
      position: absolute;
      top: 10px;
      left: 0;
      background-image: linear-gradient(
        90deg,
        $secondary-colors-dark,
        transparent
      );

      @include media(sm) {
        top: 20px;
      }
    }
    &::after {
      content: "";
      height: 4px;
      width: 40%;
      position: absolute;
      top: 10px;
      right: 0;
      background-image: linear-gradient(
        90deg,
        transparent,
        $secondary-colors-dark
      );

      @include media(sm) {
        top: 20px;
      }
    }
  }

  img:not(figure img, .logoMarks img):not(.range) {
    display: block;
    margin: 0 auto;
    margin-bottom: 6rem;

    @include media(sm) {
      margin-bottom: 9rem;
    }
  }
 
  

  .logoMarks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @include media(md) {
     gap: 45px; 
    }
    img{
      object-fit: contain;
    }
    .max1x{
      width: 100%;
      max-width: 170px;
      
      @include media(md) {
        max-width: 220px;
        max-height: 55px;
      }
    }
    .max4x{
      max-width: 130px; max-height: 47px;
      @include media(md) {
       
        max-width: 180px;
      }
    }
  }
  
}
.admMarks {
  background-color: #d9d9d9;
}

.gridMark {
  display: grid;
  gap: 3rem;
  padding: 5rem 0 3rem;

  @include media(sm) {
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    max-width: 650px;
    margin: 0 auto;
  }
  figure {
    img {
      margin: 0 auto;
      display: block;
      object-fit: contain;
      width: 200px;
    }
    legend {
      display: block;
      text-align: center !important;
      font-family: exo-soft, "Lucida Sans", Geneva, Verdana, sans-serif;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;

      @include media(md) {
        font-size: 1.6rem;
      }
    }
  }
}