.containerStage {
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  //  overflow: hidden;
  border: 1px solid red;

  .containerBox {
    transform: rotate(-71.8deg) translate(-183px, 0px);

    .blockStage {
      transition: all 1s;

      p {
        position: absolute;
        inset: 0;
        z-index: 99;
      }
      .top svg,
      .botton svg,
      .right svg,
      .left svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 20% 22%;
        &:hover {
          z-index: 1;
        }
      }

      span.right {
        svg {
          transform: rotate(45deg);

          polygon {
            fill: rgb(221, 0, 255);
          }
        }
        p {
          transform: rotate(72deg) translate(115px, 78px);
        }
      }
      span.top {
        svg {
          transform: rotate(135deg);

          polygon {
            fill: rgb(37, 87, 87);
          }
        }
        p {
          transform: rotate(-18deg) translate(108px, -77px);
        }
      }

      span.botton {
        svg {
          transform: rotate(-135deg);

          polygon {
            fill: rgb(136, 0, 255);
          }
        }
        p {
          transform: rotate(72.2deg) translate(125px, -156px);
        }
      }

      span.left {
        svg {
          transform: rotate(-45deg);

          polygon {
            fill: rgb(0, 255, 55);
          }
        }
        p {
          transform: rotate(163deg) translate(43px, -170px);
        }
      }
      .circle {
        position: absolute;
        inset: 50%;
        transform-origin: 20% 22%;
        z-index: 2;
      }
    }
  }
}
