.containerStage {
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border: 1px solid red;

  .containerBox {
    transform: rotate(-71.6deg) translate(-37px, 1px);
  

    .blockStage {
      transition: all 1s;

      span {
        position: relative;
      }

      .top,
      .botton,
      .right,
      .left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 20% 22%;
        &:hover {
          z-index: 1;
        }
      }

      .top {
        transform: rotate(135deg);
        polygon {
          fill: rgb(37, 87, 87);
        }
      }

      .botton {
        transform: rotate(-135deg);
        polygon {
          fill: rgb(136, 0, 255);
        }
      }

      .right {
        transform: rotate(45deg);
        polygon {
          fill: rgb(221, 0, 255);
        }
      }

      .left {
        transform: rotate(-45deg);
        polygon {
          fill: rgb(0, 255, 55);
        }
        
      }
      .circle{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
