@use "../abstracts/variables" as variable;

::-webkit-scrollbar {
  width: 10px;
  background:  variable.$quaternary-indigo-colos; 
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: variable.$secondary-colors-dark; 
  border-radius: 10px;
}

